<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.connection.url">jdbc:postgresql://fly.sytes.net:5432/multhub</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
    <property name="show_sql">true</property>
    <mapping resource="CommentsEntity.hbm.xml"/>
    <mapping class="entity.CommentsEntity"/>
    <mapping class="entity.CommitsEntity"/>
    <mapping resource="CommitsEntity.hbm.xml"/>
    <mapping class="entity.ConnectiondataEntity"/>
    <mapping resource="ConnectiondataEntity.hbm.xml"/>
    <mapping resource="CreditinfoEntity.hbm.xml"/>
    <mapping class="entity.CreditinfoEntity"/>
    <mapping class="entity.DevelopersEntity"/>
    <mapping resource="DevelopersEntity.hbm.xml"/>
    <mapping class="entity.ProjectsEntity"/>
    <mapping resource="ProjectsEntity.hbm.xml"/>
    <mapping class="entity.RequestsEntity"/>
    <mapping resource="RequestsEntity.hbm.xml"/>
    <mapping class="entity.SubsEntity"/>
    <mapping resource="SubsEntity.hbm.xml"/>
    <mapping resource="UsersEntity.hbm.xml"/>
    <mapping class="entity.UsersEntity"/>
    <mapping class="entity.DialogEntity"/>
    <mapping resource="DialogEntity.hbm.xml"/>
    <mapping class="entity.FollowersEntity"/>
    <mapping resource="FollowersEntity.hbm.xml"/>
    <mapping class="entity.MassageEntity"/>
    <mapping resource="MassageEntity.hbm.xml"/>
    <mapping class="entity.UserpostEntity"/>
    <mapping resource="UserpostEntity.hbm.xml"/>

  </session-factory>
</hibernate-configuration>